<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hi file Uploader, I hardly even know her</h1>
  <%- include("partials/login.ejs") %>
  <a href="/signup">Sign Up to upload Files to me!</a>
</body>
</html>